@mixin f-icon-svg($url, $color: black, $position: center, $size: auto, $repeat: no-repeat) {
    -webkit-mask-position: $position;
    mask-position: $position;

    -webkit-mask-size: $size;
    mask-size: $size;

    -webkit-mask-repeat: $repeat;
    mask-repeat: $repeat;

    -webkit-mask-image: url(#{$url});
    mask-image: url(#{$url});

    background-color: $color;
}

@mixin f-icon-image($url, $position: center, $size: auto, $repeat: no-repeat) {
    content: '';
    display: block;

    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
    background-image: url(#{$url});
}
