// коллекция svg для переключалки темы https://www.svgrepo.com/collection/space-hand-drawn-filled-vectors/

:root {
    --color-main: #46b48f;
    --color-background: #f6f7f8;
    --color-heard: #ffffff;
    --color-text: #000000;
    --color-text-inverted: #ffffff;

    --image-theme: url('/img/moon.svg');
}

.dark {
    --color-main: #46b48f;
    --color-background: #1a2225;
    --color-heard: #1a2225;
    --color-text: #ffffff;
    --color-text-inverted: #000000;

    --image-theme: url('/img/sun.svg');
}
